<p>Welcome to Food Waste Planner</p>


<h2>Food Waste Planner</h2>
<ul>
  <li><a href="https://acorpodean.github.io/Food-Waste-Planner/">Food Planner(demo)</a></li>
</ul>


http://localhost:3000/products/install


<h2>Start your server:</h2>
<li>1. Start Xampp App</li>
<li>2. Run Apache/MySql </li>
-creaza baza date
-link de install
-import database file .sql (redenumeste si fiesierul ala .sql)
-locatia fisier sql 

<li>3. In Studio Code - Terminal: "npm run devstart" in your API </li>
<li>4. Log into browser localhost/dashboard/</li>
<li>5. From the main menu choose Databases</li>
<li>6. Click New, add name and Collatation utf8_general_ci</li>