<p>Welcome to Food Waste Planner</p>


<h2>Food Waste Planner</h2>
<ul>
  <li><a href="https://acorpodean.github.io/Food-Waste-Planner/">Food Planner(demo)</a></li>
</ul>


<h2>Database connect steps:</h2>
<li>1.Start Xampp App</li>
<li>2.Run Apache/MySql </li>
<li>3.In Studio Code/ Terminal: "npm run devstart" in your API </li>
<li>4.Log into browser localhost/dashboard/</li>

