<p>Welcome to Food Waste Planner</p>


<h2>Food Waste Planner</h2>
<ul>
  <li><a href="https://acorpodean.github.io/Food-Waste-Planner/">Food Planner(demo)</a></li>
</ul>


http://localhost:3000/products/install


<h2>How to start your server:</h2>
<li>1.Download and Start Xampp App</li>
<li>2.Run Apache/MySql </li>
<li>3.Run in browser http://localhost:3000/products/install - to create empty table in database to store products</li>
<li>4.Import in Food_planner database import products.sql </li>
<li>5. In Studio Code - Terminal: "npm run devstart" in your API </li>
<li>6. Creating your database</li>
<li>7. Log into browser localhost/dashboard/</li>
<li>8. From the main menu choose Databases</li>
<li>9. Click New, add name and Collatation utf8_general_ci</li>