<p>Welcome to Food Waste Planner</p>


<h2>Food Waste Planner</h2>
<ul>
  <li><a href="/products/install">create MySQL members TABLE</a></li>
  <li><a href="/products">GET members from MySQL</a></li>
</ul>